<!-- navbar.html -->
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.svg' %}" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Weather Forecast
        </a>
        <div class="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'weather:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'weather:welcome' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search" action="{% url 'weather:search_city' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search city" aria-label="Search"
                    name="city">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div id="autocomplete-list"
                style="display: none; position: absolute; background-color: white; border: 1px solid #ccc; z-index: 1000;">
            </div>
        </div>
    </div>
</nav>
{% endblock navbar %}