{% extends "_base.html" %}


{% block content %}
<div class="container-fluid">
    <h1 style="text-align: center;">Welcome to the Weather Home Page</h1>

    <h2>Weather Data</h2>

    {% if not combined_data %}
        <p>No data available for the selected city.</p>
    {% else %}
        {% for city_name, location_data in combined_data %}
        <h3>{{ city_name }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-center">Max Temperature (°C)</th>
                    <th class="text-center">Min Temperature (°C)</th>
                </tr>
            </thead>
            <tbody>
                {% for day in location_data %}
                <tr>
                    <td>{{ day.date }}</td>
                    <td class="text-center">{{ day.temperature_2m_max }}</td>
                    <td class="text-center">{{ day.temperature_2m_min }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}