{% extends "_base.html" %}


{% block content %}
<div class="container-fluid">
    <h1>Welcome to the Weather Home Page</h1>

    <h1>Weather Data</h1>
    {% for city_name, location_data in combined_data %}
        <h2>{{ city_name }}</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Max Temperature (°C)</th>
                <th>Min Temperature (°C)</th>
            </tr>
            {% for day in location_data %}
            <tr>
                <td>{{ day.date }}</td>
                <td>{{ day.temperature_2m_max }}</td>
                <td>{{ day.temperature_2m_min }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}

</div>
{% endblock %}